source/html/index.pug
doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")

		link(rel="stylesheet" href="css/main.min.css")
		title New project
	body
		div(class="page")
			header()
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navbar navbar-expand-lg navbar-light d-flex justify-content-between p-0")
								div(class="d-flex align-items-end navbar_wrap_logo")
									a(class="navbar-brand" href="#")
										img(class="lazyload img-fluid" data-src="img/logo.svg" alt="logo")
								div(class="collapse navbar-collapse" id="navbar")
									ul(class="navbar-nav w-100 d-flex justify-content-center pt-5 pt-lg-0")
										li(class="active nav-item")
											a(class="nav-link" href="#")
												| Услуги
										li(class="nav-item")
											a(class="nav-link" href="#")
												| Сертификаты
										li(class="nav-item")
											a(class="nav-link" href="#")
												| О нас
										li(class="nav-item")
											a(class="nav-link" href="#")
												| Контакты
								div(class="d-flex align-items-center")
									div(class="d-flex align-items-center")
										a(class="header__phone"  href="tel:88002000600")
											| 8 800 2000 600
										button(class=" d-none d-lg-block btn  ml-3 btn__flare_infinite" data-toggle="modal" data-target="#modalfirst")
											| Перезвоните мне
									button(class="navbar-toggler ml-3 " type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation")
										img(class="lazyload" data-src="img/mobilemenu.svg" alt="logo")
			div(class="content")
				div(class="welcome d-flex flex-column justify-content-center")
					div(class="container")
						div(class="row")
							div(class="col-12 col-lg-5")
								h1()
									| Медицинское освидетельствование
								p
									| От 25 рублей
								button(class="btn btn_red btn__flare" data-toggle="modal" data-target="#modalSecond")
									| Подать заявку
				section(class="driver")
					div(class="container")
						div(class="row")
							div(class="col-12 py-5")
								h2(class="pb-5")
									| <span>Предрейсовый осмотр</span><br>водителей в челябинске	
						div(class="row justify-content-center")
							div(class="col-10 col-lg-6 pb-4 pb-lg-0")
								div(class="driver_doc")
									img(class="lazyload img-fluid" data-src="img/women.png" alt="women")
									span
										| Анна Савельева
									div(class="video__circle d-none")
										div(class="video__circle__content")
											span(class="video__circle_1")
											span(class="video__circle_2")
											span(class="video__circle_3")
											a(href="#")
												img(class="lazyload img-fluid video__circle_img" data-src="img/Polygon.svg" alt="img")
							div(class="col-12 col-lg-6")
								p
									| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
								p
									| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				section(class="point")
					div(class="container")
						div(class="row")
							div(class="col-12 pb-5")
								h2()
									| Точки осмотра
						div(class="row")
							div(class="col-12")
								iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18234.117593528914!2d61.40855351154786!3d55.16114494784021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1567405075824!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="")
						div(class="row")
							div(class="col-12 py-5 d-flex justify-content-center")
								button(class="btn btn_red btn__flare" data-toggle="modal" data-target="#modalThird")
									| Записаться
				div(class="form_bg form d-flex align-items-center")
					div(class="container")
						div(class="row align-items-center")
							div(class="col-12 col-lg-4")
								form()
									h2(class="pb-4")
										| Узнайте стоимость освидетельствования
									input(type="text" placeholder="Имя")
									input(type="text" placeholder="Телефон" class="my-4")
									input(type="text" placeholder="Количество водителей")
									div(class="d-flex align-items-start justify-content-center pt-5")
										label(class="m-0")
											input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
											span(for="checkbox" class="checkbox__label")
										p( class="form__info")
											| Согласен с 
											a(href="#" class="form__info")
												| политикой конфиденциальности
									button(class="btn btn_red btn__flare mt-3")
										| Узнать стоимость
							div(class="d-none d-lg-block col-lg-8")
								img(class="lazyload img-fluid wow flipInX" data-wow-duration="1s" data-wow-delay="0.5s" data-src="img/Mockup.png" alt="img")
				section(class="step")
					div(class="container")
						div(class="row")
							div(class="col-12")
								h2
									| 6 причин работать<br><span>с нами</span>
						div(class="row py-5")
							div(class="step_mod_2 col-12 col-lg-3 step_left d-flex flex-column justify-content-start pt-5")
								p(class="wow flipInX" data-wow-duration="2s" data-wow-delay="0.1s")
									| Круглосуточные кабинеты
								p(class="step__center wow flipInX" data-wow-duration="3s" data-wow-delay="0.1s")
									| Все работники имеют удостоверение(допуск) к осуществлению мед.осмотра и справки с нарк.диспансера
								p(class="wow flipInX" data-wow-duration="4s" data-wow-delay="0.1s")
									| 100% выход
							div(class="col-12 col-lg-6 step_mod_1")
								img(class="lazyload img-fluid" data-src="img/magicwomen.png" alt="img")
							div(class="step_mod_2 col-12 col-lg-3 step_right d-flex flex-column justify-content-start pt-lg-5")
								p(class="wow flipInX" data-wow-duration="2s" data-wow-delay="0.1s")
									| Оплата по факту за месяц
								p(class="step__center wow flipInX" data-wow-duration="3s" data-wow-delay="0.1s")
									| Работаем по безналичному расчету
								p(class="wow flipInX" data-wow-duration="4s" data-wow-delay="0.1s")
									| Без НДС
						div(class="row")
							div(class="col-12 pt-5 d-flex justify-content-center")
								button(class="btn btn_red btn__flare" data-toggle="modal" data-target="#modalThird")
									| Записаться
				section(class="feadback")
					div(class="container")
						div(class="row")
							div(class="col-12")
								h2
									| Отзывы
						div(class="row")
							div(class="col-6 col-lg-3")
								img(class="lazyload img-fluid" data-src="" alt="img")
							div(class="col-6 col-lg-3")
								img(class="lazyload img-fluid" data-src="" alt="img")
							div(class="col-6 col-lg-3")
								img(class="lazyload img-fluid" data-src="" alt="img")
							div(class="col-6 col-lg-3")
								img(class="lazyload img-fluid" data-src="" alt="img")
				section(class="clients")
					div(class="container")
						div(class="row")
							div(class="col-12")
								h2
									| наши клиенты
						div(class="row py-lg-5")
							div(class="col-12 d-flex justify-content-between align-items-center py-5 clients__content")
								a(href="#")
									img(class="lazyload img-fluid" data-src="img/p1.jpg" alt="img")
								a(href="#")
									img(class="lazyload img-fluid" data-src="img/p2.jpg" alt="img")
								a(href="#")
									img(class="lazyload img-fluid" data-src="img/p3.svg" alt="img")
								a(href="#")
									img(class="lazyload img-fluid" data-src="img/p4.jpg" alt="img")
								a(href="#")
									img(class="lazyload img-fluid" data-src="img/p5.png" alt="img")
								a(href="#")
									img(class="lazyload img-fluid" data-src="img/p6.svg" alt="img")
				div(class="question d-flex align-items-center")
					div(class="container")
						div(class="row")
							div(class="col-12")
								h2
									| часто задаваемые<br>вопросы
						div(class="row pt-5")
							div(class="col-12")
								div(class="accordion" id="accordionQuestion")
									div(class="card")
										div(class="card-header" id="headingOne")
											button(class="btn-link d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
												img(class="lazyload img-fluid mr-3" data-src="img/q1.svg" alt="img")
												| Заголовок вопроса?
										div(id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionQuestion")
											div(class="card-body")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									div(class="card mt-5")
										div(class="card-header" id="headingOne")
											button(class="btn-link d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
												img(class="lazyload img-fluid mr-3" data-src="img/q2.svg" alt="img")
												| Заголовок вопроса?
										div(id="collapseTwo" class="collapse " aria-labelledby="headingOne" data-parent="#accordionQuestion")
											div(class="card-body")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									div(class="card mt-5")
										div(class="card-header" id="headingOne")
											button(class="btn-link d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
												img(class="lazyload img-fluid mr-3" data-src="img/q3.svg" alt="img")
												| Заголовок вопроса?
										div(id="collapseThree" class="collapse " aria-labelledby="headingOne" data-parent="#accordionQuestion")
											div(class="card-body")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									div(class="card mt-5")
										div(class="card-header" id="headingOne")
											button(class="btn-link d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
												img(class="lazyload img-fluid mr-3" data-src="img/q4.svg" alt="img")
												| Заголовок вопроса?
										div(id="collapseFour" class="collapse " aria-labelledby="headingOne" data-parent="#accordionQuestion")
											div(class="card-body")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				section(class="map")
					div(class="container")
						div(class="row")
							div(class="col-12 col-lg-4 map_first")
								h2(class="text-left pb-4")
									| Контакты
								a(href="tel:88002000600" class="d-block")
									img(class="lazyload img-fluid" data-src="img/phone.svg")
									span(class="pl-3")
										| 8 800 2000 600
								a(href="emailto:info@mail.ru" class="d-block my-3")
									img(class="lazyload img-fluid" data-src="img/email.svg")
									span(class="pl-3")
										| info@mail.ru
								div( class="d-block")
									img(class="lazyload img-fluid" data-src="img/point.svg")
									span(class="pl-3")
										| Челябинск, ул. Ленина, 55
							div(class="col-12 col-lg-8 p-0")
								iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4559.237017984161!2d61.29770657093832!3d55.15495426626408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5924fc48a63cf%3A0x4746b6abeaf1a49f!2z0YPQuy4g0JvQtdC90LjQvdCwLCA1NSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDkwMg!5e0!3m2!1sru!2sru!4v1567412327586!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="")
			div(class="modal fade" id="modalfirst" tabindex="-1" role="dialog" aria-labelledby="modalfirstTitle" aria-hidden="true")
				div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
					div(class="modal-content")
						div(class="d-flex justify-content-end")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
						div(class="modal-body form")
							form(class="d-flex flex-column align-items-center")
								input(type="text" placeholder="Имя")
								input(type="text" placeholder="Телефон" class="my-4")
								div(class="d-flex align-items-start justify-content-center pt-5")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Согласен с 
										a(href="#" class="form__info")
											| политикой конфиденциальности
								button(class="btn btn_red btn__flare ")
									| Отправить
			div(class="modal fade" id="modalSecond" tabindex="-1" role="dialog" aria-labelledby="modalSecondTitle" aria-hidden="true")
				div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
					div(class="modal-content")
						div(class="d-flex justify-content-end")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
						div(class="modal-body form")
							form(class="d-flex flex-column align-items-center")
								h2(class="pb-4")
								input(type="text" placeholder="Имя")
								input(type="text" placeholder="Телефон" class="my-4")
								input(type="text" placeholder="Количество водителей")
								div(class="d-flex align-items-start justify-content-center pt-5")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Согласен с 
										a(href="#" class="form__info")
											| политикой конфиденциальности
								button(class="btn btn_red btn__flare")
									| Подать заявку
			div(class="modal fade" id="modalThird" tabindex="-1" role="dialog" aria-labelledby="modalThirdTitle" aria-hidden="true")
				div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
					div(class="modal-content")
						div(class="d-flex justify-content-end")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
						div(class="modal-body form")
							form(class="d-flex flex-column align-items-center")
								h2(class="pb-4")
								input(type="text" placeholder="Имя")
								input(type="text" placeholder="Телефон" class="my-4")
								input(type="text" placeholder="Количество водителей")
								div(class="d-flex align-items-start justify-content-center pt-5")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Согласен с 
										a(href="#" class="form__info")
											| политикой конфиденциальности
								button(class="btn btn_red btn__flare")
									| Записаться
			div(class="btn_to_top")
				div(class="btn_to_top_content d-flex justify-content-center align-items-center")
					<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
						<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
							<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" >
								<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
							</g>
						</g>
					</svg>
				span(class="btn_to_top_text")
					| наверх
			footer(class="footer  py-5")
				div(class="container")
					div(class="row px-4 justify-content-between align-items-end")
						div(class="d-flex flex-column align-items-start")
							img(class="lazyload img-fluid" data-src="img/logo_foo.svg" alt="img")
							span(class="footer_span_first mt-4")
								| Промилле
							span(class="footer_span_second")
								| медицинское освидетельствование
						a(class="deksis d-flex align-items-center justify-content-end mt-3 mt-lg-0" href="https://deksis.ru/")
							img(class="lazyload" data-src="img/deksis.svg" alt="img")
							span(class="d-block pl-3")
								| Создание сайта Deksis.ru
			script(src="js/main.min.js")

release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <title>New project</title>
  </head>
  <body>
    <div class="page">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between p-0">
                <div class="d-flex align-items-end navbar_wrap_logo"><a class="navbar-brand" href="#"><img class="lazyload img-fluid" data-src="img/logo.svg" alt="logo"></a></div>
                <div class="collapse navbar-collapse" id="navbar">
                  <ul class="navbar-nav w-100 d-flex justify-content-center pt-5 pt-lg-0">
                    <li class="active nav-item"><a class="nav-link" href="#">Услуги</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Сертификаты</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">О нас</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                  </ul>
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center"><a class="header__phone" href="tel:88002000600">8 800 2000 600</a>
                    <button class=" d-none d-lg-block btn  ml-3 btn__flare_infinite" data-toggle="modal" data-target="#modalfirst">Перезвоните мне</button>
                  </div>
                  <button class="navbar-toggler ml-3 " type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation"><img class="lazyload" data-src="img/mobilemenu.svg" alt="logo"></button>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="welcome d-flex flex-column justify-content-center">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-5">
                <h1>Медицинское освидетельствование</h1>
                <p>От 25 рублей</p>
                <button class="btn btn_red btn__flare" data-toggle="modal" data-target="#modalSecond">Подать заявку</button>
              </div>
            </div>
          </div>
        </div>
        <section class="driver">
          <div class="container">
            <div class="row">
              <div class="col-12 py-5">
                <h2 class="pb-5"><span>Предрейсовый осмотр</span><br>водителей в челябинске	</h2>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-10 col-lg-6 pb-4 pb-lg-0">
                <div class="driver_doc"><img class="lazyload img-fluid" data-src="img/women.png" alt="women"><span>Анна Савельева</span>
                  <div class="video__circle d-none">
                    <div class="video__circle__content"><span class="video__circle_1"></span><span class="video__circle_2"></span><span class="video__circle_3"></span><a href="#"><img class="lazyload img-fluid video__circle_img" data-src="img/Polygon.svg" alt="img"></a></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="point">
          <div class="container">
            <div class="row">
              <div class="col-12 pb-5">
                <h2>Точки осмотра</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18234.117593528914!2d61.40855351154786!3d55.16114494784021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1567405075824!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="row">
              <div class="col-12 py-5 d-flex justify-content-center">
                <button class="btn btn_red btn__flare" data-toggle="modal" data-target="#modalThird">Записаться</button>
              </div>
            </div>
          </div>
        </section>
        <div class="form_bg form d-flex align-items-center">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-12 col-lg-4">
                <form>
                  <h2 class="pb-4">Узнайте стоимость освидетельствования</h2>
                  <input type="text" placeholder="Имя">
                  <input class="my-4" type="text" placeholder="Телефон">
                  <input type="text" placeholder="Количество водителей">
                  <div class="d-flex align-items-start justify-content-center pt-5">
                    <label class="m-0">
                      <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                    </label>
                    <p class="form__info">Согласен с <a class="form__info" href="#">политикой конфиденциальности</a></p>
                  </div>
                  <button class="btn btn_red btn__flare mt-3">Узнать стоимость</button>
                </form>
              </div>
              <div class="d-none d-lg-block col-lg-8"><img class="lazyload img-fluid wow flipInX" data-wow-duration="1s" data-wow-delay="0.5s" data-src="img/Mockup.png" alt="img"></div>
            </div>
          </div>
        </div>
        <section class="step">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>6 причин работать<br><span>с нами</span></h2>
              </div>
            </div>
            <div class="row py-5">
              <div class="step_mod_2 col-12 col-lg-3 step_left d-flex flex-column justify-content-start pt-5">
                <p class="wow flipInX" data-wow-duration="2s" data-wow-delay="0.1s">Круглосуточные кабинеты</p>
                <p class="step__center wow flipInX" data-wow-duration="3s" data-wow-delay="0.1s">Все работники имеют удостоверение(допуск) к осуществлению мед.осмотра и справки с нарк.диспансера</p>
                <p class="wow flipInX" data-wow-duration="4s" data-wow-delay="0.1s">100% выход</p>
              </div>
              <div class="col-12 col-lg-6 step_mod_1"><img class="lazyload img-fluid" data-src="img/magicwomen.png" alt="img"></div>
              <div class="step_mod_2 col-12 col-lg-3 step_right d-flex flex-column justify-content-start pt-lg-5">
                <p class="wow flipInX" data-wow-duration="2s" data-wow-delay="0.1s">Оплата по факту за месяц</p>
                <p class="step__center wow flipInX" data-wow-duration="3s" data-wow-delay="0.1s">Работаем по безналичному расчету</p>
                <p class="wow flipInX" data-wow-duration="4s" data-wow-delay="0.1s">Без НДС</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 pt-5 d-flex justify-content-center">
                <button class="btn btn_red btn__flare" data-toggle="modal" data-target="#modalThird">Записаться</button>
              </div>
            </div>
          </div>
        </section>
        <section class="feadback">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>Отзывы</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-lg-3"><img class="lazyload img-fluid" data-src="" alt="img"></div>
              <div class="col-6 col-lg-3"><img class="lazyload img-fluid" data-src="" alt="img"></div>
              <div class="col-6 col-lg-3"><img class="lazyload img-fluid" data-src="" alt="img"></div>
              <div class="col-6 col-lg-3"><img class="lazyload img-fluid" data-src="" alt="img"></div>
            </div>
          </div>
        </section>
        <section class="clients">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>наши клиенты</h2>
              </div>
            </div>
            <div class="row py-lg-5">
              <div class="col-12 d-flex justify-content-between align-items-center py-5 clients__content"><a href="#"><img class="lazyload img-fluid" data-src="img/p1.jpg" alt="img"></a><a href="#"><img class="lazyload img-fluid" data-src="img/p2.jpg" alt="img"></a><a href="#"><img class="lazyload img-fluid" data-src="img/p3.svg" alt="img"></a><a href="#"><img class="lazyload img-fluid" data-src="img/p4.jpg" alt="img"></a><a href="#"><img class="lazyload img-fluid" data-src="img/p5.png" alt="img"></a><a href="#"><img class="lazyload img-fluid" data-src="img/p6.svg" alt="img"></a></div>
            </div>
          </div>
        </section>
        <div class="question d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>часто задаваемые<br>вопросы</h2>
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-12">
                <div class="accordion" id="accordionQuestion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <button class="btn-link d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><img class="lazyload img-fluid mr-3" data-src="img/q1.svg" alt="img">Заголовок вопроса?</button>
                    </div>
                    <div class="collapse " id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionQuestion">
                      <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>
                  </div>
                  <div class="card mt-5">
                    <div class="card-header" id="headingOne">
                      <button class="btn-link d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><img class="lazyload img-fluid mr-3" data-src="img/q2.svg" alt="img">Заголовок вопроса?</button>
                    </div>
                    <div class="collapse " id="collapseTwo" aria-labelledby="headingOne" data-parent="#accordionQuestion">
                      <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>
                  </div>
                  <div class="card mt-5">
                    <div class="card-header" id="headingOne">
                      <button class="btn-link d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"><img class="lazyload img-fluid mr-3" data-src="img/q3.svg" alt="img">Заголовок вопроса?</button>
                    </div>
                    <div class="collapse " id="collapseThree" aria-labelledby="headingOne" data-parent="#accordionQuestion">
                      <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>
                  </div>
                  <div class="card mt-5">
                    <div class="card-header" id="headingOne">
                      <button class="btn-link d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><img class="lazyload img-fluid mr-3" data-src="img/q4.svg" alt="img">Заголовок вопроса?</button>
                    </div>
                    <div class="collapse " id="collapseFour" aria-labelledby="headingOne" data-parent="#accordionQuestion">
                      <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="map">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-4 map_first">
                <h2 class="text-left pb-4">Контакты</h2><a class="d-block" href="tel:88002000600"><img class="lazyload img-fluid" data-src="img/phone.svg"><span class="pl-3">8 800 2000 600</span></a><a class="d-block my-3" href="emailto:info@mail.ru"><img class="lazyload img-fluid" data-src="img/email.svg"><span class="pl-3">info@mail.ru</span></a>
                <div class="d-block"><img class="lazyload img-fluid" data-src="img/point.svg"><span class="pl-3">Челябинск, ул. Ленина, 55</span></div>
              </div>
              <div class="col-12 col-lg-8 p-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4559.237017984161!2d61.29770657093832!3d55.15495426626408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5924fc48a63cf%3A0x4746b6abeaf1a49f!2z0YPQuy4g0JvQtdC90LjQvdCwLCA1NSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDkwMg!5e0!3m2!1sru!2sru!4v1567412327586!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal fade" id="modalfirst" tabindex="-1" role="dialog" aria-labelledby="modalfirstTitle" aria-hidden="true">
        <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
          <div class="modal-content">
            <div class="d-flex justify-content-end">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body form">
              <form class="d-flex flex-column align-items-center">
                <input type="text" placeholder="Имя">
                <input class="my-4" type="text" placeholder="Телефон">
                <div class="d-flex align-items-start justify-content-center pt-5">
                  <label class="m-0">
                    <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                  </label>
                  <p class="form__info">Согласен с <a class="form__info" href="#">политикой конфиденциальности</a></p>
                </div>
                <button class="btn btn_red btn__flare ">Отправить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modalSecond" tabindex="-1" role="dialog" aria-labelledby="modalSecondTitle" aria-hidden="true">
        <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
          <div class="modal-content">
            <div class="d-flex justify-content-end">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body form">
              <form class="d-flex flex-column align-items-center">
                <h2 class="pb-4"></h2>
                <input type="text" placeholder="Имя">
                <input class="my-4" type="text" placeholder="Телефон">
                <input type="text" placeholder="Количество водителей">
                <div class="d-flex align-items-start justify-content-center pt-5">
                  <label class="m-0">
                    <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                  </label>
                  <p class="form__info">Согласен с <a class="form__info" href="#">политикой конфиденциальности</a></p>
                </div>
                <button class="btn btn_red btn__flare">Подать заявку</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modalThird" tabindex="-1" role="dialog" aria-labelledby="modalThirdTitle" aria-hidden="true">
        <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
          <div class="modal-content">
            <div class="d-flex justify-content-end">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body form">
              <form class="d-flex flex-column align-items-center">
                <h2 class="pb-4"></h2>
                <input type="text" placeholder="Имя">
                <input class="my-4" type="text" placeholder="Телефон">
                <input type="text" placeholder="Количество водителей">
                <div class="d-flex align-items-start justify-content-center pt-5">
                  <label class="m-0">
                    <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                  </label>
                  <p class="form__info">Согласен с <a class="form__info" href="#">политикой конфиденциальности</a></p>
                </div>
                <button class="btn btn_red btn__flare">Записаться</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_to_top">
        <div class="btn_to_top_content d-flex justify-content-center align-items-center"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" >
<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
</g>
</g>
</svg>
        </div><span class="btn_to_top_text">наверх</span>
      </div>
      <footer class="footer  py-5">
        <div class="container">
          <div class="row px-4 justify-content-between align-items-end">
            <div class="d-flex flex-column align-items-start"><img class="lazyload img-fluid" data-src="img/logo_foo.svg" alt="img"><span class="footer_span_first mt-4">Промилле</span><span class="footer_span_second">медицинское освидетельствование</span></div><a class="deksis d-flex align-items-center justify-content-end mt-3 mt-lg-0" href="https://deksis.ru/"><img class="lazyload" data-src="img/deksis.svg" alt="img"><span class="d-block pl-3">Создание сайта Deksis.ru</span></a>
          </div>
        </div>
      </footer>
      <script src="js/main.min.js"></script>
    </div>
  </body>
</html>
